@font-face {
	font-family: 'Roboto'; 
	src: local('Roboto'), url('font/Roboto-Regular.ttf'); 
}

@font-face {
	font-family: 'Montserrat'; 
	src: local('Montserrat'), url('font/Montserrat-Bold.ttf'); 
}

@font-face {
	font-family: 'Noto Sans'; 
	src: local('Noto Sans'), url('font/NotoSans-Regular.ttf'); 
}

@font-face {
	font-family: 'Avenir';  
	src: local('AvenirNextCyr-Regular'), url('font/avenirnextcyr-regular.ttf'); 
}


body{
	background: black; 	
	Font-size:22px;
	font-weight: bold; 
	font-family: 'Montserrat', san s-serif;
	color: white;
	padding:0;
	margin:0;
}

@media (max-width: 550px) {
	h2, h1, download__1 {font-size: 24px !important;line-height: 29px !important;}
	span {font-size: 16px !important;line-height: 21px !important;}
}


a{
	text-decoration: none;
	color: white;
}

.wr {
	max-width: 1440px;
	margin: 0 auto;
	min-width: 340px;
	position: relative;
	overflow: hidden;
}




.header {
	padding: 0 6%;
	margin-top: -12px;
	position: absolute;	
	width: 100%;
	box-sizing: border-box;
	white-space: nowrap;	
}


.header_inline {
	display: inline-block;
}

.header__login {
	
	font-family: Noto Sans;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 25px;
	letter-spacing: 0.05em;
	margin: 0.5em 10%;
	
}

.header__login a {
	position: relative;
	bottom: 5px;
	left: 10px;
	border-bottom: 2px solid white;
}

.header__login a:hover {
	cursor: pointer;
	color: grey; 
	border-bottom: none;
}


.header__cub {
	position: relative;
	top: 32px;
}

@media (max-width: 550px) {
	.header__login{
		margin-left: 5%;
	}
}


.block1 {
	position: relative;
	z-index:-1;	
	width: 100%;
	min-height: 800px;
	min-width: min-content;
	overflow: hidden;
	background: url(img/block1/vector1.svg) no-repeat center;
	background-size: cover;	  
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: nowrap;
	align-items: flex-start;
}

.block1__hr {
	border: none;
    	left: -33px;
   	top: 50px;
   	width: 164px;
	height: 4px;
	background-color:white;    	
    	transform: rotate(120.61deg);
    	position: relative;
}


 
.block1__line {
	display: inline-block;
	overflow: hidden;
	height: 6em;
	width: 103px;
	vertical-align: bottom;
	
}

.block1__img {
	position:absolute;
	top: -195px;
	left: -193px;
	z-index: -1;
}


@media (max-width: 1250px) {
	.block1__line {
		display: none;	
	}
	.block1__img {	
		top: -133px;
		left: -130px;
	}
}



.block1__text {
	margin: auto 0;
	margin-left: 6%;
	
}

.block1__h1 {
	font-family: Montserrat;
	font-size: 64px;
	font-style: normal;
	font-weight: 700;
	line-height: 70px;
	
}

.block1__cont-text {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	white-space: normal;
	max-width: 25em;
	min-width: 10em;
	font-family: Noto Sans;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 27px;
	letter-spacing: 0.05em;


}


	
.block1__phone1 {
		
	margin-right: 15%;
	margin-top: 134px;
	margin-left: 13px;
		
}

.block1__cont {
	white-space: nowrap;
	margin-top: 10%;
}

.download {
	padding: 0 12% 0 6%;
	margin-top: 75px;
	box-sizing: border-box;
	display: inline-flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	
}




.download__1 {
	font-family: Montserrat;
	font-size: 35px;
	font-style: normal;
	font-weight: 700;
	line-height: 70px;
	letter-spacing: 0.05em;
	text-align: center;
	margin: 10px 0;

}

.download__2 {	
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 409px;
	margin-left: 16px;

}

.dounload_hov:hover {
	transform: rotate(-2deg);
}

@media (max-width: 550px) {
	.download {
		display: inline-flex;
		justify-content: space-between;
		flex-direction: column;
		align-items: center;
		width: 100%;
		flex-wrap: nowrap;
	 }	

	.download__2 {
		display: inline-flex;
		justify-content: space-between;
		flex-direction: column;
		align-items: center;
		height: 140px;
	 }
   }



.cookie {
	position:fixed;
	bottom:-100px;
	left: 0px;
	margin-top: 25px;
	height: 93px;
	padding: 0 25px 0 6%;
	background: #212834;
	font-family: Noto Sans;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 19px;
	letter-spacing: 0.05em;	
	display: inline-flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	box-sizing: border-box;
	z-index: 10;
}

.cookie__ok {
	width: 132px;
	height: 50px;
	left: 1284px;
	top: 998px;
	
	background: rgba(255, 255, 255, 0.1);
	border: 0.5px solid #FFFFFF;
	border-radius: 6px;

	font-family: Noto Sans;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 19px;
	letter-spacing: 0.05em;
	text-align: center;
	color: white;

}

.cookie__ok:hover {
	background: rgba(255, 255, 255, 0.4);
	cursor: pointer;
}

.cookie__text {
	padding-right: 12%;
}


.join {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    flex-direction: row;
	
}


.join__1, .join__2 {
	padding: 64px;
	margin: 60px 40px 0;
	width: 500px;
	min-width: 300px;
	height: 312px;
	border: 2px solid rgba(255, 255, 255, 0.5);
	box-sizing: border-box;
	border-radius: 21.3671px;
	padding: 55px;
	display: inline-flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.join_txt {
	font-family: Noto Sans;
	font-size: 30px;
	font-style: normal;
	font-weight: 700;
	line-height: 41px;
	letter-spacing: 0.05em;
	text-align: left;
}

.join_link {
	margin: 5% 0;
	font-family: Noto Sans;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 33px;
	letter-spacing: 0.05em;
	text-align: left;
	text-decoration: underline;
	width: min-content;
}


.join_link:hover {
	cursor: pointer;
	color: grey; 
	border-bottom: none;
	text-decoration: none;
}

.mission {
	padding: 0 10% 0 6%;
	margin-top: 240px;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: nowrap;
	align-items: flex-start;
	width: 100%;
}

.mission__2 {
	width: 360px;
	margin-left: 30px;
	padding: 10px;	
}

.mission__1 {
	margin-left: -85px;
}

.mission__2img {
    position: absolute;
    top: -96px;
    left: 123px;
    z-index: -1;
}


.mission__txt {
	position:relative;
	font-family: Noto Sans;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 25px;
	letter-spacing: 0.05em;
	text-align: left;
	
}

.mission__txt h2 {
	
	font-family: Montserrat;
	font-size: 51px;
	font-style: normal;
	font-weight: 700;
	line-height: 62px;
	letter-spacing: 0.05em;
	text-align: left;
}

.mission__vphone {
	position: relative;
	left: 30px;
	display: none;
}

@media (max-width: 1200px) {
	.mission__1 {
		display: none;
	}	
	.mission__2 {
		width: 100%;
	}
	.mission {
		flex-wrap: wrap;
	}	
	.mission__vphone {
		display: block;
		width: 150%;
		position: relative;
		left: -23%;
	}
	.mission__2img {
 	   top: -111px;
 	   left: -87px; 	   
	}
}

.scanner {
	background: url(img/scanner/scanner-bck.png) no-repeat top center;
	background-size:  100%;
	
	margin-top: 283px;
	width: 100%;
	height: 1060px;
}


.scanner__inn {
	width: 100%;
	height:1060px;
	background: no-repeat top center linear-gradient(179.83deg, #000000 calc(-1vw*830/1440), rgba(0, 0, 0, 0) calc(38.76*1vw*833/1440), #000000 calc(72.92*1vw*833/1440));
	background-size:  100%;
	padding: 0 0 0 6%;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: nowrap;
	align-items: flex-end;
	
}

.scanner__1 {
	margin-right: 5%;
}

.scanner__3 {
	font-family: Noto Sans;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 25px;
	letter-spacing: 0.05em;
	text-align: left;
	margin: 5%;
	max-width: 400px;
}

.scanner__3 h2 {
	
	font-family: Montserrat;
	font-size: 51px;
	font-style: normal;
	font-weight: 700;
	line-height: 62px;
	letter-spacing: 0.05em;
	text-align: left;
}


@media (max-width: 1200px) {
	
	.scanner {
		height: auto; 
	}
	.scanner__inn {
		height: auto;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-content: flex-start;
		padding-bottom: calc(45vw*836/1440);
	}
	.scanner__3 {
		order: -1;		
		max-width: 100%;
	}	

	
	.scanner__1 {
		margin: 45px 0;
	}
	.scanner__inn * {
		position: relative;
		top: calc(23vw*836/1440);
	}
}

.tool {
	margin-top: 210px;
	padding: 0 0 0 6%;
	box-sizing: border-box;	
	width: 100%;
	height: 510px;
	position:relative;
}

.tool__1 {
	height: 520px;
	margin-right: 5%;
	max-width: 500px;
	padding-top: 26px;
	position: absolute;
	
}

.tool-bck {
	position:absolute;
	background: linear-gradient(12.08deg, #F101BF 2.82%, #0066FF 97.06%);
	opacity: 0.5;
	filter: blur(250px);
	height: 440px;
	width: 440px;
	top: -94px;
	left: -36px;
	z-index: -1;
}

.tool__1 span {
	font-family: Noto Sans;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 25px;
	letter-spacing: 0.05em;
	text-align: left;
	
}


.tool__1 h2 {
	
	font-family: Montserrat;
	font-size: 51px;
	font-style: normal;
	font-weight: 700;
	line-height: 62px;
	letter-spacing: 0.05em;
	text-align: left;
	white-space: nowrap;	
}

.tool__2 {

	position: relative;
	left: 550px;
	z-index: -1;
}


.tool__img img {
	position: absolute;
}




.tool__2-img1 {
	left: 337px;
	top: 0px;
	width: 252px;
	z-index: 1;
}

.tool__2-img2 {
	left: 157px;
	top: 188px;
	width: 233px;
	z-index: 1;
}

.tool__2-img3 {
	left: 25px;
	top: 255px;
	width: 192px;
	z-index: 1;	
}

.tool__2-img4 {
	left: 279px;
	top: 297px;
	width: 192px;	
	z-index: 2;
}

.tool__2-img5 {
	left: 461px;
	top: 188px;
	width: 182px;
	z-index: 1;	
}

.tool__2-img6 {
	left: 206px;
	top: 398px;
	width: 192px;
	z-index: 1;	
}

.tool__2-img7 {
	left: 447px;
	top: 470px;	
	width: 281px;
	z-index: 1;
}

@media (max-width: 1440px) {
	.tool__2-img1 {
		left: calc(-65*(5vw/144 + 0.5px));
		top: calc(439*(5vw/144 + 0.5px));
		width: calc(252*(5vw/144 + 0.5px));
	}

	.tool__2-img2 {
		left: calc(157*(9vw/144 + 0.1px));
		top: calc(188*(-0.3vw/144 + 1.03px));
		width: calc(233*(5vw/144 + 0.5px));
	}

	.tool__2-img3 {
		left: calc(25*(85vw/144 - 7.5px));
		top: calc(255*(2vw/144 + 0.8px));
		width: calc(192*(5vw/144 + 0.5px));
	}

	.tool__2-img4 {
		left: calc(279*(5vw/144 + 0.5px));
		top: calc(297*(5vw/144 + 0.5px));
		width: calc(192*(5vw/144 + 0.5px));
	}

	.tool__2-img5 {
		left: calc(461*(5vw/144 + 0.5px));
		top: calc(188*(5vw/144 + 0.5px));
		width: calc(182*(5vw/144 + 0.5px));
	}

	.tool__2-img6 {
		left: calc(206*(5vw/144 + 0.5px));
		top: calc(398*(5vw/144 + 0.5px));
		width: calc(192*(5vw/144 + 0.5px));
	}

	.tool__2-img7 {
		left: calc(447*(8vw/144 + 0.2px));
		top: calc(470*(3.5vw/144 + 0.65px));
	}
	.tool__2 {
		left: calc(-48px + 783*((10vw - 34px)/144 - 0px));
		top: calc(216px - 15vw);
	}
	.tool__1 {
		top: calc(-144px + 10vw);
	}
}


@media (max-width: 900px) {
	.tool__1 {
		max-width: 100%;	
	
	}
	.tool__1 h2 {	
		white-space: normal;
	}
}


.code {
    margin: 215px 0 40px;
    width: 100%;    
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    min-height: 1122px;
    position: relative;
}

.code__1 {
	position: relative;
	max-width: 390px;
	top: 125px;
}



.code__1 h2 {
	font-family: Montserrat;
	font-size: 51px;
	font-style: normal;
	font-weight: 700;
	line-height: 62px;
	letter-spacing: 0.05em;
	text-align: left;
}

.code__1 span {
	font-family: Noto Sans;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 25px;
	letter-spacing: 0.05em;
	text-align: left;
}

.code__dounl {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;
    
}


.code__dounl img {
	margin-bottom: 10px;
}

.code__pic {
	position: absolute;
	white-space: nowrap;
	z-index: -1;
	top: 0px;
	width: 100%;
}

.code__pic img {
	width: 100%;
}

.code__pic div {
	display: inline-block;
	width: 50%;	
}

.code__pic1 {
	position:relative;
	top: 1px;
}

.code__pic2 {
	position:relative;	
}

.code__3 {
    position: relative;
    bottom: -275px;
}

.code__pic div.code-shadow {
    height: 100%;
    width: 100%;
    position: absolute;
    background: linear-gradient(179.83deg, #000000 -3.1%, rgba(0, 0, 0, 0) 56.76%, #000000 77.92%);
    top: 0px;
    left: 0px;
}

.code__nightlife {
	position: absolute;
	top:0%;
	right:7%;
}

.code_hov:hover {
	transform: rotate(-2deg);
}

@media (max-width: 1250px) {
	.code__nightlife {
		position: relative;
		top: -44px;
		left: -105px;
	}
	.code {
		flex-direction: column;
		align-items: center;	
	}
	.code__pic {
		position: relative;
		white-space: normal;
	}
	.code__pic2 {		
		position: absolute;
		top: calc(325px + 252*100%/352);
		left: 0px;
	}	
	.code__pic div {
		width: 100%;
	}
	.code__pic div.code__pic1 {
		dis play: none;		
	}
	.code__dounl {
		flex-direction: column;
	}
	.code__1 {
		padding: 0 6%;
		max-width: 700px;
		top: -134px;
	}
	.code__3 {
		bottom: -50px;
	}
	
}

.generate {
    height: 871px;
    margin: 80px 0 0px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
}

.generate__3  {
	max-width: 292px;
	position:relative;
	bottom: 60px;

}

.generate__2 {
	align-self: flex-start;
	position:relative;
}

.generate__1-1 {
	font-family: Montserrat;
	font-size: 51px;
	font-style: normal;
	font-weight: 700;
	line-height: 62px;
	letter-spacing: 0.05em;
	text-align: left;
}

.generate__3-1  {
	font-family: Noto Sans;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 25px;
	letter-spacing: 0.05em;
	text-align: left;
	max-width: 292px;

}


.generate__bck1 {
	position: absolute;
	top: -671px;
	left: -549px;
	z-index: -1;
}

.generate__bck2 {
	position: absolute;
	top: 121px;
	left: -616px;
	z-index: -1;
}

.generate__arrow {
	position: absolute;
	top: 195px;
	left: 398px;
	font-family: Montserrat;
	font-size: 21px;
	font-style: normal;
	font-weight: 700;
	line-height: 26px;
	letter-spacing: 0em;
	text-align: left;
	

}

.generate__arrow pre {
	margin: 0px;
}

.generate__arrow2 {
		display: none;
	}


@media (max-width: 1250px) {
	.generate {
		flex-direction: column;
		align-items: center;
		margin-top: 150px;
		height: 1000px;
	}
	.generate__2 {
		align-self: auto;
		order: 3;
		margin-top: 50px;
	}
	.generate__3 {
		align-self: auto;
		bottom: 0px;
	}
	.generate__arrow {
		display: none;
	}
	.generate__arrow2 {
 		   text-align: end;
	 	   position: relative;
	 	   top: -96px;
	 	   left: 62px;
		   display: block;
	}
	
}


.easier {
    margin: 190px 0px 0px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(img/easier/circle.svg) no-repeat right -336px top -91px;
    background-size: 1000px;
}

.easier__pic {
	position: relative;
}

.easier__img {
	width: 100%;
}

.easier__txt {
    max-width: 499px;
    margin: 0 8% 0 auto;
}

.easier__txt1 {
	font-family: Montserrat;
	font-size: 51px;
	font-style: normal;
	font-weight: 700;
	line-height: 62px;
	letter-spacing: 0.05em;
	text-align: left;
}

.easier__txt2  {
	font-family: Noto Sans;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 25px;
	letter-spacing: 0.05em;
	text-align: left;

}


.easier__img1 {
	display: block;
	width: 100%
}
.easier__img2 {
	display: none;
	width: 100%
}

/*
.easier_block {
	background: #000000;
	border: 0.76007px solid rgba(255, 255, 255, 0.5);
	box-sizing: border-box;
	border-radius: 18.2417px;
	padding: 1.5em;
	width: max-content;
	font-family: Roboto;
	font-size: 23px;
	font-style: normal;
	font-weight: 500;
	line-height: 27px;
	letter-spacing: 0.1em;
	position:absolute;
}

.easier__pic-txt2 {    
    top: 455px;
    left: -126px;
}

.easier__pic-txt1 {
    top: 251px;
    left: 491px;
}

.easier__pic-txt3 {
    top: 782px;
    left: 697px;
}

.easier__pic-txt4 {
    top: 896px;
    left: 150px;
}
*/

@media (max-width: 1250px) {
	.easier__txt {
		margin: 0 6%;
	}
	.easier__img2 {
		display: block;
	 	margin-top: 75px;
	}
	.easier__img1 {
		display: none;
	}
}


.ntphone {
    margin: 190px 0px 0px;
    width: 100%;
    height: 1000px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.ntphone {
	background: url(img/ntphone/bck.svg) no-repeat center;
	
}

.ntphone__phone {
	background: url(img/ntphone/phone.svg) no-repeat center;	
	width: 859px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}


.ntphone__fsshot {	
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	}

@media (max-width: 880px) {
	.ntphone {
		display: none;
	}
}


.getin {
	position: relative;
	padding: 95px 12% 0;
	margin-top: 75px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	width: 100%;
}


.getin__circle1 {
    position: absolute;
    top: -532px;
    left: -498px;
    z-index: -1;
    width: 1213px;
    height: auto;
}


.getin__circle2 {
    position: absolute;
    top: 536px;
    right: 10%;
    z-index: -1;
    width: 1213px;
    margin-right: -606px;
    height: auto;
}

.getin__txt {
	text-align: center;
	position: relative;
}

.getin__txt h2 {
	font-family: Montserrat;
	font-size: 51px;
	font-style: normal;
	font-weight: 700;
	line-height: 62px;
	letter-spacing: 0.05em;
}

.getin__txt span  {
	font-family: Noto Sans;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 25px;
	letter-spacing: 0.05em;
}


.getin__form {
	margin-top: 82px;
	max-width: 818px;
	text-align: justify;
}

.getin_input {
	margin: 23px 0 0 0;
	padding: 2%;
	background: #FFFFFF;
	border: 1px solid #5C5C5C;
	box-sizing: border-box;
	border-radius: 10px;
	height: 83px;
	width: 100%;
	font-family: Noto Sans;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 25px;
	letter-spacing: 0.1em;
}

.getin_inv:invalid {
	border: 2px solid red;
}

.getin_inputhalf {
	max-width: 400px;
	
}

.getin_msg {
	height:200px;	
}

.getin__subm {
	width: 398px;
	height: 80px;
	background: #000000;
	border: 1px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 10px;
	color: white;
	margin: 23px auto 0;
	font-family: Montserrat;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 29px;
	letter-spacing: 0em;
	text-align: center;

}

.getin__subm:hover {
	background: #331133;
	cursor: pointer;
}

.getin__submdiv {
	max-width: 398px;
	margin: auto;
}

.download2 {
	padding: 95px 12% 0;
	margin-top: 75px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	width: 100%;
	
}

.download2__1 {
	font-family: Montserrat;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 32px;
	letter-spacing: 0.01em;
	text-align: center;
	margin: 10px 0;

}

.download2__2 {	
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	margin-top: 16px;
}

.download2__2 div {
	margin: 5px 20px 0px;
}


.footer {
    position: relative;
    margin: 155px 0;
    padding: 0 11%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-family: Avenir;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 25px;
    letter-spacing: 0.08em;
    text-align: left;
}


.footer__mail {
	font-weight: 500;
}

.footer__img {
    position: absolute;
    top: -383px;
    left: -226px;
    z-index: -1;
}

.footer__txt1 div, .footer__txt2 div {margin-top: 1em;} 


.footer a:hover {
	cursor: pointer;
	color: grey; 
}
